@import "functions";

$page-width: 990px;
$page-min-width: 360px;
$page-max-width: 990px;

$footer-height: 185px;

// fonts
$base-font-size: 13px;

// colors
$color-palette: (
        blue: (
                normal: #146ea8,
                alt: #4493c1,
                dark: #18335b
        ),
        gray: (
                normal: #aaa398,
                alt: #e2e2e2,
                dark: #75635c
        ),
        red: (
                normal: #c42d31,
                alt: #c94245,
                dark: #971b1a
        ),
        brown: (
                normal: #75635c,
                alt: #aaa398,
                dark: #4c403c
        ),
        turquoise: (
                normal: #73d5d9,
                alt: #afd7d8,
                dark: #3a9ea3
        )
);


$colors: (
  black: #323232
);



// color attributions
$site-text-color: color-palette(blue, dark);
$site-text-font: exo;

$universe-colors: (
  bois: map-get(map-get($color-palette, brown), normal),
  bain: map-get(map-get($color-palette, turquoise), normal),
  construction: #83A5AA
);

$universe-alt-colors: (
        bois: map-get(map-get($color-palette, brown), alt),
        bain: map-get(map-get($color-palette, turquoise), alt),
        construction: map-get(map-get($color-palette, red), alt)
);


$universe-dark-colors: (
        bois: map-get(map-get($color-palette, brown), dark),
        bain: map-get(map-get($color-palette, turquoise), dark),
        construction: map-get(map-get($color-palette, red), dark)
);


$zindex: (
  modal: 9000,
  overlay: 8000,
  main-menu-level3: 7000,
  main-menu-level2: 6000,
  base: 1
);