.Site-header,
.SiteFooter {
  display: none;
}


// page showroom

.Showroom {

  .Showroom-slides,
  .Showroom-cta,
  .Showroom-brochures,
  .Showroom-contact a,
  .Showroom-jobs,
  .Showroom-address a {
    display: none !important;
  }

  .Showroom-contact {
    color:#18335b !important;

    a.o-button--alt.o-button--small.js-obfNumber {
      display: inline-block !important;
      padding: 0 !important;
      margin-top: 12px !important;
      text-align: left !important;
      min-width: inherit !important;
      color:#18335b !important;

      &:before { display: none !important; }
    }
  }
}