.BlockBrochure {
  @include span-columns(5.20);
  margin: 10px 0 30px 40px;
  color: #ffffff;
  @include clearfix;

  &:nth-child(even) {
    clear: both;
  }

  @include media($bp-small) {
    display: flex;
    float: none;
    width: 100%;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: relative;

    > * {
      margin: 0;
      text-align: center;
    }
  }
}

.BlockBrochure-picture {
  width: 160px;
  float: left;

  img {
    max-width: 100%;
  }

  @include media($bp-small) {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.BlockBrochure-content {
  float: left;
  width: 245px;
  padding: 0px 0 0 10px;

  @include font(exo-light, light);
  color: color-palette(blue, dark);

  position: relative;

  @include media($bp-small) {
    width: 80%;
    margin: 0 auto 20px;
    font-size: 1.3em;
  }
}

.BlockBrochure-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.3em;
  letter-spacing: -0.75px;

  @include media($bp-small) {
    margin-bottom: 20px;
  }

}


.BlockBrochure-subtitle {
  margin: 5px 0;
  font-size: 1em;
  text-transform: uppercase;
  
  
}

.BlockBrochure-text {
  max-width: 90%;
  margin: 0 0 10px 0;

}


.BlockBrochure-subtitle,
.BlockBrochure-text {

  @include media($bp-small) {
    font-size: 1.2em;
    display: inline;
  }
}

.BlockBrochure-cta {
  width: auto;

  @include media($bp-small) {
    width: 80%;
    margin: 20px auto 0;
  }

  [class*="o-button"] {

    @include media($bp-small) {

      height: map-get($btn-heights, regular) * 1.4;
      padding-top: map-get($btn-heights, regular) / 1.95;
      line-height: normal;

    }

    &:nth-child(2) {
      margin-top: 5px;
    }
  }


}