.NewsBlock {
  margin-left: 22px;
  color: #fff;
  position: relative;
  top: 64px;

  .js-goToTop {
    margin-left: 8px;
    text-align: center;
    font-size: 100px;
    display: block;
    color: #fff;
    line-height: 0.25em;
    cursor: pointer;
    position: relative;
    top: -24px;
  }

  @include media($bp-small) {
    top: 0;
    padding-bottom: 100px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      display: inherit;
      margin: 0;
      text-align: center;
    }
  }
}

.NewsBlock-content {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-top: 25px;
  margin-left: 20px;

  @include media($bp-small) {
    width: auto !important;
    display: block !important;
  }
}


.NewsBlock-title {
  margin: 10px 0 0;
  font-size: 1.75em;
  text-transform: uppercase;
  @include font(exo-light);
}

.NewsBlock-text {
  margin-top: 5px;
  font-size: .9em;

  @include media($bp-small) {
    font-size: 1.2em;
  }
}

.NewsBlock-cta {
  @include media($bp-small) {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;

    > [class*="button"] {
      width: 300px;
      margin: 0 auto;
    }
  }

}

.NewsBlock-picture {

  @include media($bp-small) {
    display: inline-block;
    margin: 40px auto;

    order: 2;
  }

  img {
    max-width: 300px;
  }
}