.SiteInfo {
  display: inline-block;
}

.SiteInfo-logo-link {
  position: relative;
  bottom: -16px;
  
  @include media($bp-small) {
    margin-left: 2em;
  }
}

.Site-header {
  position: relative;
  z-index: 5;

  @include media($bp-small) {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
  }
}