.Site-header [role="navigation"] {
  display: inline-block;
  vertical-align: bottom;

  @include media($bp-small) {
    position: relative;
    float: right;
    margin: 35px 10px 0 0;
    border: 1px solid color-palette(blue, dark);
  }
}

#toggle-button {
  @extend .icon-menu-icon;
  float: right;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  font-size: 2.5em;
  @include appearance(none);
}

.MainMenu {
  margin: 0 50px 0 0;
  padding: 0;
  max-height: 600px;
  transition: max-height .4s linear;
  @include outer-container();

  .js .is-closed & {
    max-height: 0;
    overflow: hidden;
  }

  > .leaf,
  > .expanded {
    list-style-type: none;
    float: left;

    @include media($bp-small) {
      float: none;
      width: auto;
    }

    > a {
      display: block;
      padding: 10px 15px;
      height: 40px;
      font-size: 14px;
      position: relative;

      @include media($bp-small) {
        padding: 1.5em 1em;
        height: auto;

        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 1em; right: 1em;
          height: 1px;
          background-color: transparentize(#c2c2c2, .5);
        }

        &:after {
          content: $font-fontcustom-chevron-thin-right;
          float: right;
          display: inline-block;
          margin-top: -0.28em;
          font-family: 'fontcustom';
          font-size: 2em;
        }

      }
    }

    &.last > a:before { content: none; }

    & > a,
    &:visited > a {
      color: color-palette(blue, dark);
    }

    &:hover > a,
    &:focus > a {
      color: #fff;
      background-color: color-palette(blue);

      & + .MainMenu-level2 {
        display: block;

        @include media($bp-small) {
          display: none;
        }
      }
    }
  }
}

@include media($bp-notSmall) {
  .MainMenu > .first {

    a {
      position: relative;
      text-indent: -9999px;
      font-size: 0;
      padding-top: 7px;

      &:before {
        content: '';
        text-indent: 0;
        display: block;;
        @include sprite($icon-home);
      }

      &:hover:before { @include sprite($icon-home-white); }

    }
  }
}


.MainMenu,
.MainMenu-submenu {
  // MainMenu top-level and submenu behave the same way on small screens
  @include media($bp-small) {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 100px;
    width: 20em;
    background-color: #fff;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease;
  }

}





@include media($bp-small) {
  .MainMenu {
    z-index: 1;
  }
  
  .MainMenu-submenu {
    z-index: 2;
    margin: 0 50px 0 0;
    padding: 0;
    max-height: 600px;
    transition: max-height .4s linear;
    @include outer-container();

    .is-closed & {
      max-height: 0;
      overflow: hidden;
    }

    > .leaf,
    > .expanded {
      list-style-type: none;
      float: none;
      width: auto;


      > a {
        display: block;
        padding: 1.5em 1em;
        height: auto;
        font-size: 14px;
        position: relative;



        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 1em; right: 1em;
          height: 1px;
          background-color: transparentize(#c2c2c2, .5);
        }

        &:after {
          content: $font-fontcustom-chevron-thin-right;
          float: right;
          display: inline-block;
          margin-top: -0.28em;
          font-family: 'fontcustom';
          font-size: 2em;
        }

      }


      &.last > a:before { content: none; }

      & > a,
      &:visited > a {
        color: color-palette(blue, dark);
      }

      &:hover > a,
      &:focus > a {
        color: #fff;
        background-color: color-palette(blue);
      }
    }

  }
  .MainMenu-submenuPanels { display: none; }
  .MainMenu-submenuPanel { display: none; }


  .is-inactive {
    width: 0 !important;
    overflow: hidden !important;
  }

  .is-active {
    display: block !important;
    max-height: 500px !important;
    opacity: 1 !important;
  }

  .MainMenu-backToMain,
  .MainMenu-submenuHeading {
    display: block;
    padding: 8px 10px;

    text-transform: uppercase;
    font-size: 1.3em;
    color: #ffffff;

  }

  .MainMenu-backToMain {
    background-color: color-palette(blue);

    @extend .icon-chevron-thin-left;

    &:before,
    &:after {
      display: block;
      float: left;

      font-size: 1.5em;
    }

    &:before {
      margin-right: 5px;

      font-weight: bold;
    }

    &:after {
      content: "";
      margin-right: 10px;

      @include sprite($icon-home-white);
    }
  }

  .MainMenu-submenuHeading {
    background-color: color-palette(red);
  }
}

@include media($bp-notSmall) {
  .MainMenu-level2 {
    position: absolute;
    z-index: map-get($zindex, main-menu-level2);
    left: 0;
    right: 0;
    top: 83px;
    padding: 0;
    background-color: transparentize(color-palette(red), .2);
    color: #fff;
    list-style-type: none;
    transition: max-height .3s ease, opacity .3s ease .3s;

    &.u-disabled {
      display: none;
    }

    &.u-visible {
      max-height: 120px;
      opacity: 1;
    }

    li {
    }

    a {
      transition: all 0.3s ease;
      color: #fff;
    }

    a:hover {
      display: block;
      text-indent: 10px;
    }
  }

  #mm-artipole .MainMenu-level2 li {
    padding: 5px 300px;

    &.first { padding-top: 20px; }
    &.last { padding-bottom: 20px; }
  }

  #mm-universes .MainMenu-level2,
  .HomePage-video .MainMenu-level2,
  #mm-catalogue .MainMenu-level2 {
    height: 120px;

    li { padding: 0; }

    > li {
      float: left;
      position: relative;
      width: 33.334%;
      height: 100%;
      padding: 0;

      &:first-child {
        margin-left: 0;
      }

      &:hover > a,
      &:focus > a {
        text-indent: inherit;
        background-color: color-palette(red, dark);
      }

      > a {
        display: block;
        height: 100%;
        padding-bottom: 5px;
        padding-left: 135px;
        padding-top: 42px;
        position: relative;
        color: #fff;
        font-size: em(15px);

        &:before {
          position: absolute;
          left: 35px;
          top: 50%;
          margin-top: -(65px/2);
          width: 33%;
        }

        &:after {
          display: none;
          content: "";
          position: absolute;
          bottom: 35px;
          left: 135px;
          height: 1px;
          background-color: #fff;
        }
      }

      &:hover .MainMenu-submenuPanel { display: block; }
    }
  }

  #mm-catalogue .MainMenu-level2 {

    > li {
      width: 35%;

      &:first-child { margin-left: 150px; }

      > a { padding-top: 50px; }
    }
  }

  .MainMenu-level2 {
    [id*="ml-extension"] {
      a {
        &:before { content: url('../img/main-menu-sub1-construction.jpg'); }
        &:after { width: 155px; }
      }
    }

    [id*="ml-bois"] {
      a {
        &:before { content: url('../img/main-menu-sub1-bois.jpg'); }
        &:after { width: 130px; }
      }
    }

    [id*="ml-bain"] {
      a {
        &:before { content: url('../img/main-menu-sub1-bains.jpg'); }
        &:after { width: 102px; }
      }
    }
  }

  .MainMenu-submenuPanels {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    z-index: map-get($zindex, main-menu-level3);
    color: #fff;
    @include font(exo-light);
  }

  $MainMenu-submenuPanel-height: 200px;

  .MainMenu-submenuPanel {
    position: absolute;
    display: none;
    top: 120px;
    width: 100%;
    padding: 20px;
    background-color: rgba(#000, 0.8);

    &.u-hidden {
      padding: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      border-top: 2px solid #fff;
    }
  }

  .MainMenu-submenuPanel-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1em;
  }

  .MainMenu-submenuPanel-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 1.7;
    }
  }

}

