%bigTitle {
  height: 380px;
  padding: 200px 0 0 280px;
  background-size: cover;

  @include media($bp-small) {
    padding: 5em 0 0 2em;
    width: 100%;
    height: 23em;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: #fff;
  }

  h1 {
    margin: 0;

    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,0.4);
    line-height: 1em;

    @include font('archivo');


  }

  p {
    display: block;
    text-transform: uppercase;
    color: #fff;
  }
}


%differenceBlock {
  position: relative;
  @include span-columns(4);
  @extend .icon-chevron-thin-right;

  &:before {
    position: absolute;
    left: -30px;
    top: 50px;
    font-size: 60px;
  }

  &.last { @include omega(); }

  &.first:before { content: none; }


  &--icons {

    &:after {
      content:'';
      display: block;

      position: absolute;
      top: 115px;
      left: 0;
      right: 0;
      margin: auto;

      @include sprite($icon-choice);
    }

    &.last:after {
      @include sprite($icon-install);
      top: 129px;
    }

    &.first:after {
      @include sprite($icon-advice);
      top: 129px;
    }

    &--alt {

      &:after { @include sprite($icon-choice-alt); }
      &.last:after { @include sprite($icon-install-alt); }
      &.first:after { @include sprite($icon-advice-alt); }

    }
  }

  @include media($bp-small) {
    &:before {
      display: none;
    }
  }

}

.node-page[role=article] {
  padding: 30px;
  margin-bottom: 60px;
}