@import "../helpers/mixins";
@import "../helpers/variables";

$btn-heights: (
  important: 67px,
  regular: 51px,
  secondary: 33px
);

%btn {
  display: inline-block;
  min-width: 165px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  border-radius: 1px;
  transition: color .3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  background-color: color-palette(blue, normal);
  border: none;
  @include font(exo-light, light);

  @include media($bp-small) {
    font-size: 23px;
  }

  &:active {
    background-color: color(black);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
    background-color: color-palette(blue, dark);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0% 100%;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover:before,
  &:focus:before {
    opacity: 1;
    transform: rotate3d(0, 0, 1, 0deg);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
}


%btn-important {
  height: map-get($btn-heights, important);
  padding-top: map-get($btn-heights, important) / 3;

  @include media($bp-small) {
    height: map-get($btn-heights, regular) * 1.4;
    padding-top: map-get($btn-heights, regular) / 1.95;
  }
}

%btn-regular {
  height: map-get($btn-heights, regular);
  padding-top: map-get($btn-heights, regular) / 4;

  @include media($bp-small) {
    height: map-get($btn-heights, regular) * 1.4;
    padding-top: map-get($btn-heights, regular) / 1.95;
  }
}

%btn-secondary {
  height: map-get($btn-heights, secondary);
  padding-top: map-get($btn-heights, secondary) / 4;
}

%btn-small {
  height: map-get($btn-heights, secondary);
  min-width: inherit;
  padding-top: map-get($btn-heights, secondary) / 3;
  font-size: $base-font-size;
  line-height: 1em;
}


%link {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: color-palette(blue, alt);

  &:before {
    content: ">";
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
  }
}

.o-button {
  @extend %btn;
  @extend %btn-regular;

  &--important {
    @extend %btn;
    @extend %btn-important;
  }

  &--regular {
    @extend %btn;
    @extend %btn-regular;
  }

  &--secondary {
    @extend %btn;
    @extend %btn-secondary;
  }

  &--small {
    @extend %btn;
    @extend %btn-small;
  }

}

[class*="o-button"] {
  @include media($bp-small) {
    display: block !important;
    float: none !important;
  }
}

.o-link {
  @extend %link;
}

.o-button--alt {

  &,
  &:before { background-color: color-palette(blue, dark); }

  &:hover:before,
  &:focus:before {
    background-color: color-palette(blue, normal);
  }
}

.o-button--alt2 {

  &,
  &:before { background-color: color-palette(red,normal); }

  &:hover:before,
  &:focus:before {
    background-color: color-palette(red, dark);
  }
}

.o-button--alt3 {

  &,
  &:before { background-color: color-palette(gray,dark); }

  &:hover:before,
  &:focus:before {
    background-color: color-palette(gray,normal);
  }
}

.o-button--special {
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.3);
}

.o-button--icon {
  position: relative;
  padding-right: 55px;

  i {
    display: block;
    position: absolute;

    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 45px;
  }

}