
.Geolocation-search {
  margin-top: 30px;
  @include outer-container();
  @include span-columns(9);
  @include shift(3);

  @include media($bp-small) {
    width: auto;
    float: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

.Geolocation-searchTitle {
  text-transform: uppercase;
  letter-spacing: -1px;
  @include font(exo-light);

  @include media($bp-small) {
    margin: 6em 2em 2em;
    font-size: 2.2em;
    @include font(exo-bold, bold);
  }

  span {
    display: block;
  }
}


.Geolocation-searchImage {
  float: right;
  width: 48%;
  margin-left: 2%;

  @include media($bp-small) {
    width: auto;
    float: none;
    margin: 9em auto;
    order: -1;
  }
}

.Geolocation-searchForm {
  float: left;
  width: 50%;
  margin-left: -20px;

  @include media($bp-small) {
    width: auto;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  fieldset {
    display: block;
    position: relative;
    float: left;

    width: 49%;

    margin: 0;
    padding-top: 80px;

    text-align: center;

    @include media($bp-small) {
      width: auto;
      height: 15em;
      float: none;
      padding-top: 5em;
      margin-top: 3.5em;
      font-size: 1.8em;
    }

    &:before {
      content:'';
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      right: 0%;

      margin: auto;

      width: 85px;
      height: 85px;

      background: color-palette(gray,dark);
      border-radius: 90px;

      @include media($bp-small) {
        transform: scale(2);
      }
    }

    &:after {
      content:'';
      display: block;

      position: absolute;
      top: 15px;
      left: 0;
      right: 0%;

      margin: auto;

      @include sprite($icon-france);

      @include media($bp-small) {
        transform: scale(2);
      }
    }
  }

  .first {

    [class*="button"] {
      margin: 0 auto;
      width: 80%;
    }

    &:after {
      top: 25px;
      @include sprite($icon-location);
    }
  }

  .last {

    input {
      float: left;

      width: 50%;
      min-width: 0px;
      height: 33px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid color-palette(blue, dark);

      text-align: center;

      &:first-child {margin-left: 17%;}

      @include media($bp-small) {
        width: 40%;
        height: map-get($btn-heights, regular) * 1.4;
        margin-left: 10%;
      }
    }
  }

  p {
    text-align: center;

    @include media($bp-small) {
      margin: 1.75em 0;
    }
  }

  [class*="button"] {
    @include media($bp-small) {
      height: map-get($btn-heights, regular) * 1.4;
      padding-top: .4em;
      font-size: .9em;

      @include font(exo-light, light);
    }
  }
}