*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $size__font-base;
}

body {

  margin: 0;
  padding: 0;

  background-color: $color__background-body;

  color: $color__text-screen;

  -webkit-text-size-adjust: 85%;

}

.Site-wrapper {
  
}

.Site-page {
  
}