/**
 * Admin area styles
 */

body.logged-in {
   padding-top: 30px;
}

body.logged-in.adminimal-menu { margin-top: 28px; }

.element-invisible {
  @extend .visually-hidden;
}

#admin-menu {
  font-size: 11px !important;
  background-image: none !important
}