.page-trouver-un-artisan {

  .Site-page:after {
    background: url('../img/artisan-background.png') no-repeat center bottom;
  }

  .Page-title { display: none; }



  #Artisan-titleBlock {
    @extend %bigTitle;
    background: url('../img/artisan-title.jpg');
  }

  #Artisan-metier {
    padding-top: 40px;
    text-align: center;

    h3 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: em(20px);
      margin-top: 0;
    }

    ul {
      margin: 0 auto 20px auto;
      padding: 0;
      width: 900px;
      @include clearfix;

      li {
        display: inline-block;
        margin-left: -4px;
        width: 25%;

        margin-bottom: 40px;

        list-style: none;
        text-align: center;

        img,
        span {
          display: block;
          margin: 0 auto;
        }

        span {
          text-transform: uppercase;
          color: color-palette(blue);

          margin: 10px 0;
        }
      }
    }

    p {
      text-align: center;
    }

    a {
      display: block;
      width: 200px;
      margin: 15px auto 0 auto;
      text-align: center;
      padding: 0;
      padding-top: 10px;
    }
  }
}