// Extends Design Content Block //
%ContactPage-contentBlock {
  position: relative;
  width: 880px;
  margin: 0 auto 70px auto;
  
  @include media($bp-small) {
    width: auto;
  }

  .ContactPage-content,
  .ContactPage-content:hover {
    display: table-cell;
    transition: all .2s;
    cursor: pointer;

    @include media($bp-small) {
      display: block;
      text-align: center;
    }

    .ContactPage-content-imgWrap {
      position: relative;
      margin-bottom: 20px;

      @include media($bp-small) {
        margin: 0 auto;
      }

      img {
        display: block;
        position: relative;
        z-index: 2;

        filter: grayscale(0%);
      }
    }
  }

  .ContactPage-content-title {
    display: inline-block;

    padding-bottom: 15px;

    border-bottom: 1px solid #fff;

    text-transform: uppercase;
    font-size: 18px;
    color: #fff;

    @include media($bp-small) {
      display: block;
      border-bottom: none;
    }
  }

  .ContactPage-content-text {
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  &:hover {

    .ContactPage-content {

      &,
      &.first,
      &.last {
        background: color-palette(gray, alt);
      }
    }

    .ContactPage-content-imgWrap {

      img {
        filter: grayscale(100%);
      }
    }
  }
}


%ContactPage-step-content {

  &:hover {

    .ContactPage-content {

      &.first:before,
      &.last:before {
        color: #fff;
      }
    }
  }

  .ContactPage-content,
  .ContactPage-content:hover {
    width: 50%;
    padding: 200px 30px 30px 30px;
    
    @include media($bp-small) {
      width: auto;
      text-align: center;
    }

    &:before {
      display: block;

      position: absolute;
      top: 70px;

      font-size: 120px;
    }

    &.first {
      padding-left: 150px;
      background: color-palette(blue, dark);

      &:before {
        right: 90px;
        color: color-palette(blue);
        @include fontcustom($font-fontcustom-marker-home);

      }
    }

    &.last {
      padding-right: 150px;
      background: color-palette(blue);

      &:before {
        left: 110px;
        color: color-palette(blue, dark);
        @include fontcustom($font-fontcustom-marker-showroom);

      }

      &.checked:after {
        right: inherit;
        left: 30px;
        right: auto;
      }
    }

    &.first,
    &.last {

      @include media($bp-small) {
        padding-left: 0;
        padding-right: 0;

        &:before {
          left: 50%;
          right: auto;
          margin-left: -40px;
        }
      }

      &.checked:after {
        right: 30px;
        left: auto;
      }
    }
  }
}







#ContactPage-titleBlock {
  @extend %bigTitle;
  background-image: url('../img/contact-title.jpg');
}

// step header //

.ContactPage-stepHeader {
  width: 280px;

  margin: 0 auto;
  padding: 50px 0;

  text-align: left;

  @include clearfix;
}

.ContactPage-stepHeader-number {
  float: left;

  width: 60px;
  height: 60px;

  margin-right: 10px;

  background: color-palette(red);
  border-radius: 60px;

  color: #fff;
  text-align: center;
  font-size: 31px;
  line-height: 60px;

  span {
    font-size: 14px;
  }
}

.ContactPage-stepHeader-title {
  margin: 4px 0 0 0;

  text-transform: uppercase;
  color: color-palette(red);
  line-height: 1.3em;

  @include font('exo-light');

  span {
    display: block;

    font-size: 25px;

    @include font('exo');
  }
}




// step content //

.ContactPage-contentBlock {
  @extend %ContactPage-contentBlock;
}

.ContactPage-contentBlock-header {
  position: absolute;
  z-index: 2;

  width: 250px;

  top: -15px;
  left: 50%;

  padding: 15px;
  margin: 0 0 0 -125px;

  background: #fff;

  text-transform: uppercase;
  text-align: center;

  pointer-events: none;
}

.ContactPage-content {
  position: relative;

  &.checked:after {
    display: block;
    content: '';

    position: absolute;
    bottom: 30px;
    right: 30px;

    @include sprite($contactpage-checked);
  }
}

// step 1 //

.ContactPage-step1 .ContactPage-step1-content1 {
  @extend %ContactPage-contentBlock;

  .ContactPage-content,
  .ContactPage-content:hover {
    width: 33.33333%;
    padding: 70px 30px 50px 30px;
    background: color-palette(gray, dark);

    @include media($bp-small) {
      width: auto;

    }

    &.first {
      background: #83a5aa;
    }
    &.last {
      background: color-palette(turquoise, normal);
    }
  }
}

.ContactPage-step1 .ContactPage-step1-content2 {
  @extend %ContactPage-contentBlock;
  @extend %ContactPage-step-content;
}



// button go next

.ContactPage-btnBlock {
  display: block;
  text-align: center;
  margin: 20px auto 0 auto;

  @include media($bp-small) {
    display: block;
  }

  input {
    padding-top: 4px;

    @include media($bp-small) {
      font-size: 1.4em;
      margin: 0 auto;
    }
  }

  [class*="o-button"] {
    min-width: 300px;
    padding-left: .5em;
    padding-right: .5em;
    margin: 0 auto;
    font-size: 1.5em;

    @include media($bp-small) {
      width: auto;
      max-width: 95%;
      font-size: 1.4em;
    }
  }
}




// step 2 //

.ContactPage-step2 .ContactPage-step2-content1 {
  @extend %ContactPage-contentBlock;
  @extend %ContactPage-step-content;
  margin-bottom: 0;

  .ContactPage-content.last {

    &,
    &:hover {

      &:before { @include fontcustom($font-fontcustom-marker-ask); }

    }
  }
}

.ContactPage-form {
  width: 880px;

  margin: 0 auto 40px auto;
  padding: 35px;

  background: lighten(color-palette(blue,dark),4%);

  color: #fff;

  @include media($bp-small) {
    width: auto;
    padding: 15px;
  }
}

.ContactPage-formLeft,
.ContactPage-formRight {
  display: table-cell;

  width: 50%;

  padding: 0 20px;
  
  @include media($bp-small) {
    display: block;
    width: auto;
  }

  .f-formgroup-btn button {
    float: right;
    border-radius: 2px;
    position: relative;

    &:after {
      content:'';
      display: none;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: color-palette(blue) url('../img/ajax-loader.gif') center center no-repeat;
    }

    &.loading:after { display: block; }
  }
}

.ContactPage-formTitle {
  text-transform: uppercase;
  margin-top: 0;

  @include media($bp-small) {
    text-align: center;
  }
}

.ContactPage-formLeft label {
  padding-right: 15px;
  text-align: right;

}


// showroom //

.ContactPage-step2-showroomTitle {
  text-transform: uppercase;
  text-align: center;

  @include media($bp-small) {
    margin-top: 2em;
    font-size: 2em;
  }
}

.ContactPage-step2-showroomContent {
  display: table;
  width: 720px;
  margin: 0 auto;
  border: 1px solid color-palette(blue,dark);

  @include media($bp-small) {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
  }
}

#ContactPage-step2-showroomMap {
  display: table-cell;
  width: 50%;

  background: color-palette(gray);
  border-right: 1px solid color-palette(blue,dark);

  @include media($bp-small) {
    height: 250px;
    border-right: none;
  }
}

.ContactPage-step2-showroomInfo {
  display: table-cell;
  width: 50%;
  padding: 20px 10px 10px 20px;

  @include media($bp-small) {
    font-size: 1.3em;
    border-bottom: 1px solid color-palette(blue, dark);
  }
}

#ContactPage-step2-showroomMap,
.ContactPage-step2-showroomInfo {
  @include media($bp-small) {
    display: block;
    width: auto;
  }
}

/*----------------------*/
// Colors per universe
/*----------------------*/

@each $universe in bois, bain {

  $color: map-get($universe-colors, $universe);

  .ContactPage-step2-showroomInfo[data-universe="#{$universe}"] {

    .ContactPage-step2-showroomAddress:after,
    .ContactPage-step2-showroomPhone:after {
      color: $color;
    }
  }
}


.ContactPage-step2-showroomName {
  position: relative;

  margin-top: 0;

  color: color-palette(red);
  text-align: center;
  text-transform: uppercase;
  font-size: em(20px);

  &:after {
    display: block;
    content:'';

    position: absolute;

    width: 150px;
    height: 0;

    left: 50%;
    margin-left: -75px;

    border-bottom: 1px solid color-palette(blue,dark);
  }
}

.ContactPage-step2-showroomAddress {
  position: relative;

  padding-left: 50px;
  margin-bottom: 30px;

  &:after {
    display: block;
    position: absolute;

    left: 0;
    top: -5px;

    font-size: 45px;

    @include fontcustom($font-fontcustom-marker-home-alt);
  }
}

.ContactPage-step2-showroomPhone {
  position: relative;
  padding-left: 50px;

  &:after {
    display: block;
    position: absolute;

    left: 0;
    top: -5px;

    font-size: 38px;

    @include fontcustom($font-fontcustom-phone);
  }
}

.ContactPage-step2-showroomLink {
  margin-bottom: 20px;
  padding-left: 50px;
}

.ContactPage-step2-showroomOtherLink {
  text-align: right;
  text-transform: uppercase;
  font-size: em(10px);

  a {
    text-decoration: none;

    &:before {
      content:">";
      display: inline-block;
      margin-right: 5px;
    }
  }
}


// step 3 //

.ContactPage-step3 {

  .ContactPage-stepHeader { width: 320px; }
  .ContactPage-form { margin-bottom: 0; }
}

[id="edit-contact-civility"] {

  @include media($bp-small) {
    display: block !important;
    width: auto;
  }

  > div {
    display: inline-block;
    width: 140px;

    @include media($bp-small) {
      display: block;
      width: auto;
    }
  }

  label {
    float: left;

  }
}

.f-civility{
  margin-bottom: 2px;

  > div > label {
    width: 130px !important;
    text-align: right;
    padding-right: 17px;
    float: left !important;

    @include media($bp-small) {
      width: auto !important;
      float: none !important;
      padding-right: 0;
    }
  }
}

#edit-contact-optin {
  @include media($bp-small) {
    display: inline-block;
  }
}

[for="edit-contact-optin"] {
  @include media($bp-small) {
    display: inline-block !important;
    width: 70% !important;
    text-align: right !important;
    font-size: 1.2em !important;
  }
}


// link go last step //

.ContactPage-goLastStep {
  width: 880px;
  margin: 10px auto;

  @include media($bp-small) {
    width: 80%;
  }

  a {
    color :#fff;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      content:"<";
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.ContactPage-step2 .ContactPage-goLastStep {
  width: 720px;

  @include media($bp-small) {
    width: 80%;
  }
}