.page-notre-difference .Page-title { display: none; }

.Difference-titleBlock {
  @extend %bigTitle;
  background: url('../img/difference-title.jpg');
  
  @include media($bp-small) {
    font-size: 1em;
  }
}

.Difference-introBlock {

  h3 {
    text-transform: uppercase;
    @include font('exo-bold');
    color: color-palette(blue);
  }

  p {
    font-size: em(15px);
    margin-bottom: 30px;
    color: color-palette(blue);
  }
}


.Difference-differences {
  @include clearfix;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;

  @include media($bp-small) {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    background-color: #fff;
  }

  @include media($bp-small) {

    .Difference-difference-block {
      background-color: #fff;
    }
    .Difference-difference-blockTitle {
      max-width: 500px;
      margin: 30px auto 15px;
    }

  }

}

.Difference-difference-block {
  @extend %differenceBlock;
  @extend %differenceBlock--icons;
  @extend %differenceBlock--icons--alt;

  @include media($bp-small) {
    width: 100%;
    background: color-palette(blue, normal);

  }

  [class*="o-button"] {
    width: 80%;
    margin: 0 auto;
  }


}

.Difference-difference-blockTitle {
  text-transform: uppercase;
  margin-top: 30px;
  color: color-palette(blue);

}

.Difference-difference-block:before { color: color-palette(blue); }

.Difference-contentBlock {
  position: relative;

  &:before {
    display: block;
    content: '';

    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
    right: 0;

    height: 290px;
    background: color-palette(blue,dark);

    @include media($bp-small) {
      background: color-palette(blue);
    }
  }

  h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;

    padding: 20px 0;
    margin: 0;

    @include media($bp-small) {
      max-width: 200px;
      margin: 0 auto;
    }
  }

  &:nth-child(odd):before { 
    background: color-palette(blue);
  }

  @include media($bp-small) {
    &:nth-child(2n) {
      background-color: #aaa398;

      h2 { color: color-palette(blue); }
    }

    .Difference-contentBlock-contentItem {
      min-height: 0px !important;
    }
  }

  &:nth-child(1) .Difference-contentBlock-contentItem { min-height: 455px; }
  &:nth-child(2) .Difference-contentBlock-contentItem { min-height: 500px; }
  &:nth-child(3) .Difference-contentBlock-contentItem { min-height: 450px; }




}

.Difference-contentBlock-content {
  width: 784px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  @include clearfix;

  @include media($bp-small) {
    width: auto;
    display: block;
    padding-bottom: 0;
  }
}

.Difference-contentBlock-contentItem {
  width: 246px;

  background: #f2f2f2;

  @include media($bp-small) {
    width: auto;
    padding-bottom: 20px;

    background: color-palette(blue, normal);

    .Difference-contentBlock:nth-child(2n) & {
      background-color: #aaa398;
    }
  }

  img {
    display: block;
    max-width: 100%;

    @include media($bp-small) {
      width: 300px;
      margin: 0 auto;
    }
  }

  h3 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    
    position: relative;
    padding-bottom: 15px;

    @include media($bp-small) {
      width: 300px;
      padding: 15px 0 15px 10px;
      margin: 0 auto;

      text-align: left;

      background-color: #f2f2f2;
      color: color-palette(blue, normal);

      .Difference-contentBlock:nth-child(2n) & {
        background-color: #f2f2f2;
      }
    }

    &:after {
      display: block;
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      width: 150px;
      height: 0;
      border-bottom: 1px solid color-palette(blue,dark);

      @include media($bp-small) {
        display: none;
      }
    }
  }

  .content {
    padding: 0 15px 0 15px;

    @include media($bp-small) {
      width: 300px;
      padding: 0;
      margin: 0 auto;

      font-size: 1.5em;

      p {
        padding: 0 10px;
        margin-top: 15px;
        margin-bottom: 0;
      }

      .Difference-contentBlock:nth-child(odd) & {
        color: #fff;
      }
    }
  }

  & + .Difference-contentBlock-contentItem {
    margin-left: 20px;

    @include media($bp-small) {
      margin: 0;
    }

  }
}


.js-differenceToggleText {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;

  height: 30px;
  width: 30px;

  border: 1px solid transparent;

  background-color: color-palette(blue, dark);

  text-align: center;
  font-size: 35px;
  line-height: .9;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;

  transition: all .3s ease;

  &:hover,
  &:focus {
    border-color: color-palette(blue, dark);

    background-color: #f2f2f2;

    color: color-palette(blue, dark);
  }

}

.Difference-content-text {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;

  transition: all .3s ease-in;

  &.is-hidden {
    max-height: 0px;
    opacity: 0;
  }
}
