.front {

  .Site-page {
    //overflow: auto;
    padding-bottom: 0px;

    /* No bottom decorations if CSS Transforms are not available */
    .nocsstransforms & {

      &:after {
        height: 700px;
        background-image: url('../img/homepage-background.png');
      }
    }

    .csstransforms & {

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 600px;

        background-image: none;

        @include media($bp-small) {
          height: 460px;
        }
      }

      &:before {
        z-index: -1;
        bottom: -30em;
        transform: skewY(-30deg);

        background-color: color-palette(red, alt);

        @include media($bp-small) {
          z-index: 0;
          bottom: 57em;
          transform: skewY(-22deg);
        }
      }

      &:after {
        z-index: -2;
        bottom: 1em;

        transform: skewY(22deg);

        background-color: color-palette(brown, alt);

        @include media($bp-small) {
          z-index: -1;
          bottom: 11em;
        }
      }
    }

  }

  .Page-title {
    @extend .u-visuallyhidden;
  }

  @include media($bp-small) {
    .js-goToTop {
      display: none !important;
    }
  }
}

//////////////////
// Video block
//////////////////
.HomePage-video {
  position: relative;

  @include media($bp-small) {
    min-height: 600px;
    max-height: 35em;
    overflow: hidden;
  }

  video {
    width: 100%;
    display: block;
  }

  // Image placeholder for devices not supporting autoplay
  img {
    width: 160%;

    @include media($bp-small) {
      width: 255%;
      margin-left: -100px;
      position: absolute;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize(#333, .7);
    z-index: 1;
  }
}

.HomePage-videoCaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  padding-left: 2.5em;

  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #FFF;

  @include media($bp-med) {
    font-size: 2em;
  }

  @include media($bp-small) {
    font-size: 1.65em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;

    [class*="o-button"]:first-child {
      margin-bottom: 1em;
    }
  }

}

.HomePage-videoCaption-content {
  display: inline-block;
  width: 58%;
  margin-top: .75em;

  text-align: left;

  @include media($bp-small) {
    width: auto;
  }

}

.HomePage-videoCaption-title {
  margin-bottom: 0;
  text-shadow: 1px 1px 3px #555;
  line-height: 1;
  font-weight: normal;
  @include font(archivo);

}

.HomePage-videoCaption-subtitle {
  font-size: .5em;
  @include font(exo-light);

  @include media($bp-small) {
    font-size: .7em;
  }
}

.StartProject-submenu {
  top: 337px;
  height: 109px !important;
  background-color: color-palette(red);
}

//--end video block--

/*
   ==========================================================================
   Actions blocks
   ==========================================================================
*/

.HomePage-actions {
  max-width: 750px;
  margin: 0 auto;
}

.HomePage-action {
  @include span-columns(6);

  @include media($bp-small) {
    @include omega();
    float: none;
    width: auto;
  }
}

.HomePage-actionTitle {
  font-size: 20px;
  text-transform: uppercase;
}

//.HomePage-actionImage {  }

.HomePage-actionText {
  width: 300px;
  min-height: 70px;
  margin: 25px auto;
  text-align: left;
  font-size: 13px;

  @include media($bp-small) {
    margin-bottom: 0;
    font-size: 1.2em;
  }
}

.HomePage-cta {
  @include media($bp-small) {
    width: 300px;
    margin: 20px auto 40px;
  }
}

/*
   ==========================================================================
   Difference blocks
   ==========================================================================
*/

/* Common elements
   ---------------------- */

.HomePage-differenceCta {
  margin-top: 30px;
  @include span-columns(12);

  @include media($bp-small) {
    @include span-columns(3);
    @include shift(0.5);
  }
}

.HomePage-differenceStep {
  font-size: 18px;
  text-transform: uppercase;
  @include font(exo-light);
}

.HomePage-differenceTitle {
  margin-top: 0;
  text-transform: uppercase;
}

.HomePage-differenceBlocks {
  @include clearfix;
  @include media($bp-small) {
    width: 250%;
    margin-left: 10%;
  }
}

.HomePage-difference-block {
  @extend %differenceBlock;
}

/* Difference 1 Block
   ------------------- */

.HomePage-difference1 {
  background-color: color-palette(blue);
  color: #FFF;
  padding-left: 80px;
  padding-right: 80px;

  position: relative;

  @include media($bp-small) {
    padding: 40px 10px;
  }

}

.HomePage-difference1-blockTitle,
.HomePage-difference2-blockTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.HomePage-difference1image {
  position: relative;

  i {
    display: block;
    position: absolute;

    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }

  a:before {
    display: none;
  }
}

.HomePage-difference1-blockText {
  font-size: 12px;
  width: 200px;
  margin: 0 auto;

  @include media($bp-small) {
    width: auto;

    margin-top: 15px;
    font-size: 1.3em;

    @include font(exo-light, light);
  }
}

.HomePage-difference1 .HomePage-difference-block {
  @extend %differenceBlock--icons;
}

.HomePage-difference1 .o-button--alt:before {
  background: color-palette(blue, alt);
}

/* Difference 2 block
   ------------------- */

.HomePage-difference2 {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0px;

  position: relative;

  @include media($bp-small) {
    padding: 40px 10px;
    background-color: color-palette(gray, alt);
  }

  /* Child elements */
  .js-goToTop {
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 100px;
    color: color-palette(blue, alt);
    @include fontcustom($font-fontcustom-chevron-thin-top);
  }

  .HomePage-differenceStep {
    color: color-palette(blue, alt);
  }

  .HomePage-differenceTitle {
    position: relative;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      @include sprite($icon-3people);
    }
  }

  .HomePage-difference-block {
    @extend .icon-plus;

    &:before {
      font-size: 40px;

      @include media($bp-small) {
        display: none;
      }
    }

    a:before {
      display: none;
    }
  }

  .u-slideControls {
    top: 40%;
  }
}

.HomePage-difference2-text {
  clear: both;
  padding-top: 20px;
  color: color-palette(blue, dark);

  p {
    margin: 5px auto 0 auto;
    width: 90%;

    @include media($bp-small) {
      font-size: 1.2em;
      line-height: 1.5;
    }
  }
}

.HomePage-difference2image {
  overflow: hidden;
  margin: 0;
  text-align: center;

  img {
    border-radius: 146px;
    margin: 0 auto;
  }
}

.HomePage-difference2-baseline {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  @include font(exo-bold);
}

//--end differences blocks--

/*
   ==========================================================================
   Front bottom blocks
   ==========================================================================
*/

.front {
  .BlockLastNews {
    float: left;
    width: 100%;
    margin: 0;

    @include media($bp-small) {
      float: none;
    }
  }

  .BlockBrochure {
    float: right;
    margin: 35px 0 30px 40px;
    width: 50%;

    @include media($bp-small) {
      float: none;
      width: 100%;
      margin: 90px auto;
    }
  }

  .BlockBrochure-content {
    color: #fff;

    @include media($bp-small) {
      position: static;
    }
  }

  .BlockBrochure-title {
    margin-top: 20px;
  }

  .BlockBrochure-subtitle {
    text-transform: none;
  }

  .BlockBrochure-picture {
    @include media($bp-small) {
      padding-left: 70px;
    }
  }

  .BlockBrochure-cta {

    .o-button--regular {

      @include media($bp-small) {
        height: map-get($btn-heights, regular) * 1.4;
        line-height: normal;
      }
    }
  }

}


