.page-universe .Site-page:after {background: url('../img/artisan-background.png') no-repeat center bottom; }


.RoomUniverse-head {
  position: relative;
  overflow: visible;
}

.RoomUniverse {
  position: relative;
}

.RoomUniverse-headDesc {
  position: absolute;
  top: 60px;
  left: 220px;
  width: 55%;
  color: #FFF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);

  @include media($bp-small) {
    top: 2em;
    left: 1em;
    right: 1.5em;
    width: auto;

    font-size: 1.6em;
    text-transform: uppercase;

    @include font(exo-light, light);
  }

  .Page-title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: em(35px);
    text-shadow: 0 2px 2px rgba(0,0,0,0.4);

    @include font('archivo');
    
    @include media($bp-small) {
      margin-bottom: 10px;
      font-size: 1.7em;
    }
  }
}

.RoomUniverse-headImage {
  @include media($bp-small) {
    height: 50em;
  }
}

.RoomUniverse-headCta {
  margin-top: 20px;
  
  @include media($bp-small) {
    margin-top: 40px;

    [class*="o-button"] {
      padding: 25px 10px 0;

      span { display: none; }
    }
  }

}

// Header droite, logo + liste de familles de produits
.RoomUniverse-headList {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;

  text-align: right;

  @include media($bp-small) {
    left: 0;
    right: 0;
    bottom: -38em;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: color-palette(blue, dark);
  }

  
  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
  }
}

.RoomUniverse-headList-products {
  
  @include media($bp-small) {
    margin-top: 220px;
    font-size: 1.5em;
  }
}

.RoomUniverse-headList-logo {

  @include media($bp-small) {
    //position: absolute;
    margin: 0 auto;
    order: -1;
  }

  > img {
    max-width: 190px;
  }
}


.RoomUniverse-map {
  position: absolute;
  left: -200%;
  width: 100%;
  clear: both;
  padding-top: 60px;
  opacity: 0;
  transition: opacity .3s linear;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 320px;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: color-palette(blue);
  }

  .RoomUniverse-btnPage {
    margin-left: 39px;
  }
}

.RoomUniverse-mapTitle {
  padding: 20px 0;
  margin: 0;
  background-color: color-palette(blue);
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: em(18px);
  line-height: 1.3em;
  position: relative;
  z-index: 1;
  @include font(exo-light);

  span { 
    display: block;
    font-size: 1.5em;
  }
}

.RoomUniverse #gmap {
  width: 90%;
  max-width: 650px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.RoomUniverse-map {

}

.RoomUniverse-rooms {
  padding: 0 30px;
  margin-top: 30px;
  min-height: 300px;

  text-align: center;
  @include clearfix();
}

.RoomUniverse-room {
  float: left;
  width: 29%;
  min-height: 260px;

  padding: 0 10px 10px 10px;
  margin: 0 20px 20px;

  border: 1px solid color-palette(blue, dark);
  background: #ffffff;

  @include media($bp-small) {
    width: auto;
    float: none;

  }
}

.RoomUniverse-roomName {
  position: relative;

  width: 100%;
  height: 60px;

  margin: 0 0 20px 0;
  padding: 0;

  font-size: em(20px);
  line-height: 60px;
  text-align: center;
  font-weight: normal;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";

    bottom: 0;
    left: 10px;
    right: 10px;

    border-bottom: 1px solid color-palette(blue, dark);
  }
}

.RoomUniverse-roomAddress,
.RoomUniverse-roomPhone {
  position: relative;

  padding-left: 45px;

  text-align: left;

  &:after {
    display: block;
    position: absolute;

    left: 0;
    top: -4px;

    font-size: 40px;
    color: color-palette(gray,dark);

    @include fontcustom($font-fontcustom-marker-home-alt);
  }

  .o-button--small {
    min-width: inherit;
    padding-left: 10px;
    padding-right: 10px;
    background: color-palette(blue,dark);
  }
}

.RoomUniverse-roomAddress { min-height: 50px; }

.RoomUniverse-roomPhone:after {
  font-size: 34px;
  top: 0;
  @include fontcustom($font-fontcustom-phone);
}

.RoomUniverse-roomCta {
  padding-top: 10px;
  padding-left: 6px;

  a {
    height: 40px;

    padding-top: 0;

    font-size: em(14px);
    line-height: 40px;
  }
}

.RoomUniverse-rooms-listTitle {
  font-size: 2em;
  font-weight: 700;
  margin: 1.5em 0;
}

@include media($bp-small) {
    .Showroom-brochures [class*="o-button"] {
      font-size: 1.1em;
    }
}


//*----------------------*//
// Colors per universe
//*----------------------*//

@each $universe in bois, bain, construction {

  $color: map-get($universe-colors, $universe);

  .scope-universe-#{$universe} {

    // span à la ligne après 'Nos salles d'exposition %UNIVERS%'
    .RoomUniverse-searchTitle span,
      .RoomUniverse-roomAddress:after,
      .RoomUniverse-roomPhone:after {
        color: $color;
      }

    .Geolocation-search fieldset:before {
      background-color: $color;
    }
  }

  .RoomUniverse-room[data-universe="#{$universe}"],
  .RoomUniverse-map article[data-universe="#{$universe}"] {

    .RoomUniverse-roomAddress:after,
    .RoomUniverse-roomPhone:after {
      color: $color;
    }
  }
}