.page-showrooms {

  .Site-page {
    overflow: auto;
    padding-bottom: 0px;

    &:after {
      height: 611px;
      background-image: url('../img/showroom-background.png');
      background-position: 0 340px;
    }
  }
}

.Showroom > div {
  @include media($bp-small) {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* information */
.Showroom-information {
  float: left;

  width: 332px;

  padding: 85px 20px 20px 20px;

  @include media($bp-small) {
    width: auto;
    float: none;
    padding: 40px 10px;
    text-align: center;
  }

  & .o-button--small {
    width: 160px;

    @include media($bp-small) {
      @extend .o-button--regular;
      @extend .o-button--alt;

      width: 80%;
      margin: 10px auto 0;
      font-size: 1.5em;
    }

    &.js-showroomMap {
      margin-top: 8px;
    }
  }
}

.Showroom-title {
  margin: 0;

  text-transform: uppercase;
  line-height: 1em;
  font-size: em(25px);

  @include font('archivo');

  @include media($bp-small) {
    position: absolute;
    top: 1.5em;
  }
}

.Showroom-universeName {
  margin: 10px 0 20px 0;

  text-transform: uppercase;

  @include media($bp-small) {
    display: none;
  }
}

.Showroom-address,
.Showroom-schedule,
.Showroom-contact {
  position: relative;
  padding-left: 45px;

  @include media($bp-small) {
    padding: 100px 0 0 0;
    margin: 0 auto 70px !important;

    font-size: 1.3em;
  }

  &:before {
    display: block;

    position: absolute;
    left: 0;

    color: color-palette(gray,dark);
    font-size: 40px;

    @include fontcustom($font-fontcustom-marker-home-alt);

    @include media($bp-small) {
      left: 50% !important;
      top: 0 !important;
      font-size: 80px !important;
      margin-left: -40px !important;
    }
  }
}

.Showroom-address {
  margin-bottom: 15px;

  text-transform: uppercase;

  .js-showroomMapDirection {
    display: none;

    margin-top: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}

.Showroom-schedule {
  margin-bottom: 15px;

  &:before {
    font-size: 35px;
    @include fontcustom($font-fontcustom-watch);
  }

}

.Showroom-contact {

  a + a { margin-top: 5px; }

  &:before {
    font-size: 35px;
    left: 0px;
    @include fontcustom($font-fontcustom-phone);
  }

  #Showroom-printBtn { display: none; }
}

.Showroom.toggle {

  .Showroom-address .js-showroomMapDirection { display: inline-block; }
  #Showroom-printBtn { display: inline-block; }
  #Showroom-mapCloseBtn { display: block; }

  .Showroom-address .js-showroomMap { display: none; }


}


/* map */

#Showroom-map {
  position: absolute;
  z-index: 600;

  top: 0;
  right: -1000em;

  width: 618px;
  height: 340px;

  background: red;

  &.show { right: 0; }

}

#Showroom-mapCloseBtn {
  position: absolute;
  z-index: 1000;
  display: none;

  top: 0;
  right: 0;
  padding: 10px;

  cursor: pointer;
  background: color-palette(blue,normal);

  color: #fff;
  text-transform: uppercase;
  font-size: em(10px);
}

/* actions */
.Showroom-actions {
  position: relative;
  float: right;

  width: 618px;
  margin-right: 15px;

  @include media($bp-small) {
    width: auto;
    float: none;
    margin: 8em 0 0 0;
  }
}

.Showroom-universeLogo {
  display:block;
  float: right;

  margin: 20px 0 10px 0;

  @include media($bp-small) {
    float: none;
    text-align: center;
  }
}

.Showroom-picture {
  position: relative;

  width: 618px;
  height: 340px;

  clear: both;

  margin-bottom: 5px;

  background: #ccc;


  @include media($bp-small) {
    width: auto;
    height: auto;
    
  }
  
  .o-button {
    position: absolute;
    z-index: 999999;

    max-width: 320px;

    bottom: 15px;
    left: 0;
    right: 0;

    margin: auto;
  }

}

.Showroom-zoomBtn {
  position: absolute;
  z-index: 300;
  display: block;

  top: 0;
  right: 0;

  width: 45px;
  height: 45px;

  background: color-palette(blue);

  text-decoration: none;
  line-height: 52px;
  text-align: center;

  @include media($bp-small) {
    display: none;
  }

  &:before {
    display: block;

    color: #ffffff;
    font-size: 25px;
    text-indent: 0px;


    @include fontcustom($font-fontcustom-search);
  }
}

.Showroom-outsideSlide {
  display: none;
  
  img {
    max-width: 100%;
  }
}

.Showroom-cta {
  display: flex;

  @include media($bp-small) {
    display: block;

    @include clearfix;
  }

  a {
    display: block;
    position: relative;

    width: 33%;
    height: inherit;

    padding: 65px 10px 10px 10px;

    @include media($bp-small) {
      width: 49%;
      min-width: 0;
      float: left !important;
    }

    &:after {
      display: block;
      position: absolute;

      top: 10px;
      left: 0;
      right: 0;

      margin: auto;

      content:'';

    }

    &:first-child:after {
      @include sprite($icon-user-advice);
    }

    & + a {
      margin-left: 5px;

      @include media($bp-small) {
        float: right !important;
      }
    }

  }
}

.Showroom-craftsmanBtn:after { @include sprite($icon-user-craftsman); }
.Showroom-brochureBtn:after { @include sprite($icon-book); }



.Showroom-slides {
  padding: 25px 0;
  margin-top: 40px;

  background-color: color-palette(blue, normal);

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @include font(exo-light, light);
  @include outer-container();



}

.Showroom-slidesHeader {
  font-weight: 200;
  padding: 15px 0;

  @include media($bp-small) {
    padding: 15px;
  }

  span {
    display: block;
    font-size: .8em;
  }
}

.Showroom-slideMenu {
  float: left;
  width: ($page-width - 550) / 2;

  @include media($bp-small) {
    width: auto;
    float: none;
  }

  ul {
    @extend %p-menu;
    text-align: left;
    margin-top: 0;
  }

  li {
    padding-top: 5px;
    font-size: 1.1em;

    @include media($bp-small) {
      padding-top: 0;
    }
  }

  a {
    display: block;
    color: #ffffff;
    line-height: 1em;
    transition: all .3s linear;
    position: relative;
    padding: 10px;

    @include media($bp-small) {
      padding: 20px 10px;
      font-size: 1.3em;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      transition: all .3s linear;
      background-color: color-palette(blue, dark);
    }

    &:hover, &:focus, &:active, &.js-activeSlidesLink {
      margin-left: 12px;

      &:before {
        width: 12px;
        left: -12px;
      }
    }

    &:hover, &:focus { background-color: lighten(color-palette(blue, dark), 12%); }

    &:active, &.js-activeSlidesLink {
      background-color: color-palette(blue, dark);

      &:before { background-color: #fff;
        top: 0; }
    }

  }
}

.Showroom-slideContent {
  text-align: left;
  @include span-columns(7 of 12);
}

.Showroom-slideContentCat {
  display: none;
  text-align: center;

  @include media($bp-small) {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: all .5s ease-in;
  }

  &.js-activeSlides {
    display: block;

    @include media($bp-small) {
      opacity: 1;
      max-height: 300px;
    }
  }


}

.Showroom-slideContentItem {
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.Showroom-slideText {
  clear: both;
  max-width: 500px;
  padding-top: 20px;
  margin: 0 auto;
  font-weight: 200;

  @include font(exo-light, light);

  @include media($bp-small) {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
  }


  &:before {
    content: "";
    display: block;
    margin: 0 auto;
    @include sprite($icon-couple);
  }
}

.Showroom-slideText-title {
  @include font(exo-light, light);

  span {
    display: block;
    @include font(exo, normal);
    font-weight: 400;
  }
  
  @include media($bp-small) {
    font-size: 1.2em;
  }
}

.Showroom-slideText-content {
  text-transform: none;
}

.Showroom-slideText-cta [class*="o-button"] {
  font-size: 1.2em;
  letter-spacing: -0.5px;
}

/* jobs */
.Showroom-jobs {
  clear: both;
  padding-top: 30px;
  text-align: center;
  position: relative;

  ul {
    margin: 40px auto;
    padding: 0;
    width: 850px;
    @include clearfix;
    
    @include media($bp-small) {
      width: 100%;
    }
  }
  li {
    position: relative;
    min-height: 190px;
    display: inline-block;
    width: 25%;
    margin-left: -4px;

    margin-bottom: 40px;
    padding-bottom: 40px;

    list-style: none;
    text-align: center;
    vertical-align: top;
    
    @include media($bp-small) {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    img,
    span {
      display: block;
      margin: 0 auto;
    }

    span {
      text-transform: uppercase;
      color: color-palette(blue);

      margin-top: 13px;
    }
  }

  .o-button {
    margin-top: 5px;

    position: absolute;
    left: 20px;
    bottom: 0;
    right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;

    @include media($bp-small) {
      width: 70%;
      margin: 0 auto;
      font-size: 1em;
      visibility: visible !important;
      display: block;
    }
  }
}

.Showroom-titleSecondary {
  margin: 20px 0 10px 0;

  text-transform: uppercase;
  text-align: center;

  span {
    display: block;
    color: color-palette(gray,dark);
  }
}

.Showroom-titleSecondary + p { margin-top: 0; }

.Showroom-catchmentArea {
  text-align: center;
  margin-bottom: 100px;
}

.Showroom-brochures {
  min-height: 375px;
  padding-bottom: 100px;
  @include clearfix;

  .BlockBrochure {
    margin-top: 30px;

    &.odd:after {
      content: "";
      display: block;
      clear: both;
    }
  }

}

//*----------------------*//
// Colors per universe
//*----------------------*//

@each $universe in bois, bain, construction {
  .scope-universe-#{$universe} {
    $color: map-get($universe-colors, $universe);
    $alt-color: map-get($universe-alt-colors, $universe);
    $dark-color: map-get($universe-dark-colors, $universe);

    // icônes à gauche des informations de contact (adresse, horaires...)
    .Showroom-address:before,
    .Showroom-schedule:before,
    .Showroom-contact:before,

    // Ligne sous "Vous cherchez un artisan qualifié ?"
    .Showroom-titleSecondary span {
      color: $color;
    }
    
    .Showroom-btnCall,
    .Showroom-jobs .o-button {
      background-color: $color;
      
      &:hover:before,
      &:focus:before {
        background-color: $dark-color;
      }
    }

  }
}