//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom/fontcustom_d9375b7ca800de19de5b00cb4cc9065d.eot");
  src: url("../fonts/fontcustom/fontcustom_d9375b7ca800de19de5b00cb4cc9065d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom/fontcustom_d9375b7ca800de19de5b00cb4cc9065d.woff") format("woff"),
       url("../fonts/fontcustom/fontcustom_d9375b7ca800de19de5b00cb4cc9065d.ttf") format("truetype"),
       url("../fonts/fontcustom/fontcustom_d9375b7ca800de19de5b00cb4cc9065d.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom/fontcustom_d9375b7ca800de19de5b00cb4cc9065d.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-chevron-thin-bottom:before,
.icon-chevron-thin-left:before,
.icon-chevron-thin-right:before,
.icon-chevron-thin-top:before,
.icon-marker-ask:before,
.icon-marker-home:before,
.icon-marker-home-alt:before,
.icon-marker-showroom:before,
.icon-menu-icon:before,
.icon-phone:before,
.icon-phone-alt:before,
.icon-phone-marker:before,
.icon-plus:before,
.icon-search:before,
.icon-spinner:before,
.icon-watch:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-chevron-thin-bottom:before { content: "\f100"; }
.icon-chevron-thin-left:before { content: "\f101"; }
.icon-chevron-thin-right:before { content: "\f102"; }
.icon-chevron-thin-top:before { content: "\f103"; }
.icon-marker-ask:before { content: "\f104"; }
.icon-marker-home:before { content: "\f105"; }
.icon-marker-home-alt:before { content: "\f106"; }
.icon-marker-showroom:before { content: "\f107"; }
.icon-menu-icon:before { content: "\f108"; }
.icon-phone:before { content: "\f109"; }
.icon-phone-alt:before { content: "\f10a"; }
.icon-phone-marker:before { content: "\f10b"; }
.icon-plus:before { content: "\f10c"; }
.icon-search:before { content: "\f10d"; }
.icon-spinner:before { content: "\f10e"; }
.icon-watch:before { content: "\f10f"; }

$font-fontcustom-chevron-thin-bottom: "\f100";
$font-fontcustom-chevron-thin-left: "\f101";
$font-fontcustom-chevron-thin-right: "\f102";
$font-fontcustom-chevron-thin-top: "\f103";
$font-fontcustom-marker-ask: "\f104";
$font-fontcustom-marker-home: "\f105";
$font-fontcustom-marker-home-alt: "\f106";
$font-fontcustom-marker-showroom: "\f107";
$font-fontcustom-menu-icon: "\f108";
$font-fontcustom-phone: "\f109";
$font-fontcustom-phone-alt: "\f10a";
$font-fontcustom-phone-marker: "\f10b";
$font-fontcustom-plus: "\f10c";
$font-fontcustom-search: "\f10d";
$font-fontcustom-spinner: "\f10e";
$font-fontcustom-watch: "\f10f";
