/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$contactpage-checked-name: 'contactpage-checked';
$contactpage-checked-x: 101px;
$contactpage-checked-y: 119px;
$contactpage-checked-offset-x: -101px;
$contactpage-checked-offset-y: -119px;
$contactpage-checked-width: 99px;
$contactpage-checked-height: 82px;
$contactpage-checked-total-width: 418px;
$contactpage-checked-total-height: 347px;
$contactpage-checked-image: '../img/sprite.png';
$contactpage-checked: (101px, 119px, -101px, -119px, 99px, 82px, 418px, 347px, '../img/sprite.png', 'contactpage-checked', );
$icon-3people-name: 'icon-3people';
$icon-3people-x: 120px;
$icon-3people-y: 238px;
$icon-3people-offset-x: -120px;
$icon-3people-offset-y: -238px;
$icon-3people-width: 73px;
$icon-3people-height: 47px;
$icon-3people-total-width: 418px;
$icon-3people-total-height: 347px;
$icon-3people-image: '../img/sprite.png';
$icon-3people: (120px, 238px, -120px, -238px, 73px, 47px, 418px, 347px, '../img/sprite.png', 'icon-3people', );
$icon-advice-alt-name: 'icon-advice-alt';
$icon-advice-alt-x: 193px;
$icon-advice-alt-y: 238px;
$icon-advice-alt-offset-x: -193px;
$icon-advice-alt-offset-y: -238px;
$icon-advice-alt-width: 70px;
$icon-advice-alt-height: 41px;
$icon-advice-alt-total-width: 418px;
$icon-advice-alt-total-height: 347px;
$icon-advice-alt-image: '../img/sprite.png';
$icon-advice-alt: (193px, 238px, -193px, -238px, 70px, 41px, 418px, 347px, '../img/sprite.png', 'icon-advice-alt', );
$icon-advice-name: 'icon-advice';
$icon-advice-x: 305px;
$icon-advice-y: 0px;
$icon-advice-offset-x: -305px;
$icon-advice-offset-y: 0px;
$icon-advice-width: 70px;
$icon-advice-height: 41px;
$icon-advice-total-width: 418px;
$icon-advice-total-height: 347px;
$icon-advice-image: '../img/sprite.png';
$icon-advice: (305px, 0px, -305px, 0px, 70px, 41px, 418px, 347px, '../img/sprite.png', 'icon-advice', );
$icon-book-name: 'icon-book';
$icon-book-x: 42px;
$icon-book-y: 298px;
$icon-book-offset-x: -42px;
$icon-book-offset-y: -298px;
$icon-book-width: 49px;
$icon-book-height: 41px;
$icon-book-total-width: 418px;
$icon-book-total-height: 347px;
$icon-book-image: '../img/sprite.png';
$icon-book: (42px, 298px, -42px, -298px, 49px, 41px, 418px, 347px, '../img/sprite.png', 'icon-book', );
$icon-choice-alt-name: 'icon-choice-alt';
$icon-choice-alt-x: 60px;
$icon-choice-alt-y: 238px;
$icon-choice-alt-offset-x: -60px;
$icon-choice-alt-offset-y: -238px;
$icon-choice-alt-width: 60px;
$icon-choice-alt-height: 60px;
$icon-choice-alt-total-width: 418px;
$icon-choice-alt-total-height: 347px;
$icon-choice-alt-image: '../img/sprite.png';
$icon-choice-alt: (60px, 238px, -60px, -238px, 60px, 60px, 418px, 347px, '../img/sprite.png', 'icon-choice-alt', );
$icon-choice-name: 'icon-choice';
$icon-choice-x: 0px;
$icon-choice-y: 238px;
$icon-choice-offset-x: 0px;
$icon-choice-offset-y: -238px;
$icon-choice-width: 60px;
$icon-choice-height: 60px;
$icon-choice-total-width: 418px;
$icon-choice-total-height: 347px;
$icon-choice-image: '../img/sprite.png';
$icon-choice: (0px, 238px, 0px, -238px, 60px, 60px, 418px, 347px, '../img/sprite.png', 'icon-choice', );
$icon-couple-name: 'icon-couple';
$icon-couple-x: 200px;
$icon-couple-y: 119px;
$icon-couple-offset-x: -200px;
$icon-couple-offset-y: -119px;
$icon-couple-width: 75px;
$icon-couple-height: 57px;
$icon-couple-total-width: 418px;
$icon-couple-total-height: 347px;
$icon-couple-image: '../img/sprite.png';
$icon-couple: (200px, 119px, -200px, -119px, 75px, 57px, 418px, 347px, '../img/sprite.png', 'icon-couple', );
$icon-france-name: 'icon-france';
$icon-france-x: 305px;
$icon-france-y: 99px;
$icon-france-offset-x: -305px;
$icon-france-offset-y: -99px;
$icon-france-width: 51px;
$icon-france-height: 52px;
$icon-france-total-width: 418px;
$icon-france-total-height: 347px;
$icon-france-image: '../img/sprite.png';
$icon-france: (305px, 99px, -305px, -99px, 51px, 52px, 418px, 347px, '../img/sprite.png', 'icon-france', );
$icon-home-white-name: 'icon-home-white';
$icon-home-white-x: 375px;
$icon-home-white-y: 186px;
$icon-home-white-offset-x: -375px;
$icon-home-white-offset-y: -186px;
$icon-home-white-width: 26px;
$icon-home-white-height: 22px;
$icon-home-white-total-width: 418px;
$icon-home-white-total-height: 347px;
$icon-home-white-image: '../img/sprite.png';
$icon-home-white: (375px, 186px, -375px, -186px, 26px, 22px, 418px, 347px, '../img/sprite.png', 'icon-home-white', );
$icon-home-name: 'icon-home';
$icon-home-x: 375px;
$icon-home-y: 164px;
$icon-home-offset-x: -375px;
$icon-home-offset-y: -164px;
$icon-home-width: 26px;
$icon-home-height: 22px;
$icon-home-total-width: 418px;
$icon-home-total-height: 347px;
$icon-home-image: '../img/sprite.png';
$icon-home: (375px, 164px, -375px, -164px, 26px, 22px, 418px, 347px, '../img/sprite.png', 'icon-home', );
$icon-install-alt-name: 'icon-install-alt';
$icon-install-alt-x: 305px;
$icon-install-alt-y: 151px;
$icon-install-alt-offset-x: -305px;
$icon-install-alt-offset-y: -151px;
$icon-install-alt-width: 51px;
$icon-install-alt-height: 51px;
$icon-install-alt-total-width: 418px;
$icon-install-alt-total-height: 347px;
$icon-install-alt-image: '../img/sprite.png';
$icon-install-alt: (305px, 151px, -305px, -151px, 51px, 51px, 418px, 347px, '../img/sprite.png', 'icon-install-alt', );
$icon-install-name: 'icon-install';
$icon-install-x: 305px;
$icon-install-y: 202px;
$icon-install-offset-x: -305px;
$icon-install-offset-y: -202px;
$icon-install-width: 51px;
$icon-install-height: 51px;
$icon-install-total-width: 418px;
$icon-install-total-height: 347px;
$icon-install-image: '../img/sprite.png';
$icon-install: (305px, 202px, -305px, -202px, 51px, 51px, 418px, 347px, '../img/sprite.png', 'icon-install', );
$icon-location-name: 'icon-location';
$icon-location-x: 375px;
$icon-location-y: 92px;
$icon-location-offset-x: -375px;
$icon-location-offset-y: -92px;
$icon-location-width: 40px;
$icon-location-height: 40px;
$icon-location-total-width: 418px;
$icon-location-total-height: 347px;
$icon-location-image: '../img/sprite.png';
$icon-location: (375px, 92px, -375px, -92px, 40px, 40px, 418px, 347px, '../img/sprite.png', 'icon-location', );
$icon-marker-home-big-alt-name: 'icon-marker-home-big-alt';
$icon-marker-home-big-alt-x: 204px;
$icon-marker-home-big-alt-y: 0px;
$icon-marker-home-big-alt-offset-x: -204px;
$icon-marker-home-big-alt-offset-y: 0px;
$icon-marker-home-big-alt-width: 101px;
$icon-marker-home-big-alt-height: 119px;
$icon-marker-home-big-alt-total-width: 418px;
$icon-marker-home-big-alt-total-height: 347px;
$icon-marker-home-big-alt-image: '../img/sprite.png';
$icon-marker-home-big-alt: (204px, 0px, -204px, 0px, 101px, 119px, 418px, 347px, '../img/sprite.png', 'icon-marker-home-big-alt', );
$icon-marker-home-big-name: 'icon-marker-home-big';
$icon-marker-home-big-x: 0px;
$icon-marker-home-big-y: 119px;
$icon-marker-home-big-offset-x: 0px;
$icon-marker-home-big-offset-y: -119px;
$icon-marker-home-big-width: 101px;
$icon-marker-home-big-height: 119px;
$icon-marker-home-big-total-width: 418px;
$icon-marker-home-big-total-height: 347px;
$icon-marker-home-big-image: '../img/sprite.png';
$icon-marker-home-big: (0px, 119px, 0px, -119px, 101px, 119px, 418px, 347px, '../img/sprite.png', 'icon-marker-home-big', );
$icon-marker-home-name: 'icon-marker-home';
$icon-marker-home-x: 375px;
$icon-marker-home-y: 45px;
$icon-marker-home-offset-x: -375px;
$icon-marker-home-offset-y: -45px;
$icon-marker-home-width: 40px;
$icon-marker-home-height: 47px;
$icon-marker-home-total-width: 418px;
$icon-marker-home-total-height: 347px;
$icon-marker-home-image: '../img/sprite.png';
$icon-marker-home: (375px, 45px, -375px, -45px, 40px, 47px, 418px, 347px, '../img/sprite.png', 'icon-marker-home', );
$icon-marker-showroom-alt-name: 'icon-marker-showroom-alt';
$icon-marker-showroom-alt-x: 0px;
$icon-marker-showroom-alt-y: 0px;
$icon-marker-showroom-alt-offset-x: 0px;
$icon-marker-showroom-alt-offset-y: 0px;
$icon-marker-showroom-alt-width: 102px;
$icon-marker-showroom-alt-height: 119px;
$icon-marker-showroom-alt-total-width: 418px;
$icon-marker-showroom-alt-total-height: 347px;
$icon-marker-showroom-alt-image: '../img/sprite.png';
$icon-marker-showroom-alt: (0px, 0px, 0px, 0px, 102px, 119px, 418px, 347px, '../img/sprite.png', 'icon-marker-showroom-alt', );
$icon-marker-showroom-name: 'icon-marker-showroom';
$icon-marker-showroom-x: 102px;
$icon-marker-showroom-y: 0px;
$icon-marker-showroom-offset-x: -102px;
$icon-marker-showroom-offset-y: 0px;
$icon-marker-showroom-width: 102px;
$icon-marker-showroom-height: 119px;
$icon-marker-showroom-total-width: 418px;
$icon-marker-showroom-total-height: 347px;
$icon-marker-showroom-image: '../img/sprite.png';
$icon-marker-showroom: (102px, 0px, -102px, 0px, 102px, 119px, 418px, 347px, '../img/sprite.png', 'icon-marker-showroom', );
$icon-meeting-name: 'icon-meeting';
$icon-meeting-x: 305px;
$icon-meeting-y: 253px;
$icon-meeting-offset-x: -305px;
$icon-meeting-offset-y: -253px;
$icon-meeting-width: 55px;
$icon-meeting-height: 39px;
$icon-meeting-total-width: 418px;
$icon-meeting-total-height: 347px;
$icon-meeting-image: '../img/sprite.png';
$icon-meeting: (305px, 253px, -305px, -253px, 55px, 39px, 418px, 347px, '../img/sprite.png', 'icon-meeting', );
$icon-tablet-name: 'icon-tablet';
$icon-tablet-x: 305px;
$icon-tablet-y: 41px;
$icon-tablet-offset-x: -305px;
$icon-tablet-offset-y: -41px;
$icon-tablet-width: 48px;
$icon-tablet-height: 58px;
$icon-tablet-total-width: 418px;
$icon-tablet-total-height: 347px;
$icon-tablet-image: '../img/sprite.png';
$icon-tablet: (305px, 41px, -305px, -41px, 48px, 58px, 418px, 347px, '../img/sprite.png', 'icon-tablet', );
$icon-target-name: 'icon-target';
$icon-target-x: 375px;
$icon-target-y: 208px;
$icon-target-offset-x: -375px;
$icon-target-offset-y: -208px;
$icon-target-width: 21px;
$icon-target-height: 21px;
$icon-target-total-width: 418px;
$icon-target-total-height: 347px;
$icon-target-image: '../img/sprite.png';
$icon-target: (375px, 208px, -375px, -208px, 21px, 21px, 418px, 347px, '../img/sprite.png', 'icon-target', );
$icon-user-advice-name: 'icon-user-advice';
$icon-user-advice-x: 375px;
$icon-user-advice-y: 0px;
$icon-user-advice-offset-x: -375px;
$icon-user-advice-offset-y: 0px;
$icon-user-advice-width: 43px;
$icon-user-advice-height: 45px;
$icon-user-advice-total-width: 418px;
$icon-user-advice-total-height: 347px;
$icon-user-advice-image: '../img/sprite.png';
$icon-user-advice: (375px, 0px, -375px, 0px, 43px, 45px, 418px, 347px, '../img/sprite.png', 'icon-user-advice', );
$icon-user-craftsman-name: 'icon-user-craftsman';
$icon-user-craftsman-x: 0px;
$icon-user-craftsman-y: 298px;
$icon-user-craftsman-offset-x: 0px;
$icon-user-craftsman-offset-y: -298px;
$icon-user-craftsman-width: 42px;
$icon-user-craftsman-height: 49px;
$icon-user-craftsman-total-width: 418px;
$icon-user-craftsman-total-height: 347px;
$icon-user-craftsman-image: '../img/sprite.png';
$icon-user-craftsman: (0px, 298px, 0px, -298px, 42px, 49px, 418px, 347px, '../img/sprite.png', 'icon-user-craftsman', );
$icon-watch-name: 'icon-watch';
$icon-watch-x: 375px;
$icon-watch-y: 132px;
$icon-watch-offset-x: -375px;
$icon-watch-offset-y: -132px;
$icon-watch-width: 32px;
$icon-watch-height: 32px;
$icon-watch-total-width: 418px;
$icon-watch-total-height: 347px;
$icon-watch-image: '../img/sprite.png';
$icon-watch: (375px, 132px, -375px, -132px, 32px, 32px, 418px, 347px, '../img/sprite.png', 'icon-watch', );
$spritesheet-width: 418px;
$spritesheet-height: 347px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($contactpage-checked, $icon-3people, $icon-advice-alt, $icon-advice, $icon-book, $icon-choice-alt, $icon-choice, $icon-couple, $icon-france, $icon-home-white, $icon-home, $icon-install-alt, $icon-install, $icon-location, $icon-marker-home-big-alt, $icon-marker-home-big, $icon-marker-home, $icon-marker-showroom-alt, $icon-marker-showroom, $icon-meeting, $icon-tablet, $icon-target, $icon-user-advice, $icon-user-craftsman, $icon-watch, );
$spritesheet: (418px, 347px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
